span.match
{
	border-style: solid;
	border-width: 1px;
	background-color:yellow
}

td.reference span.match
{
	border-style: solid;
	border-width: 1px;
	background-color:gold
}

td.other span.match
{
	background-color:#99FFFF
}

.hide
{
    display: none;
}

a.reveal
{
	border-style: outset;
	background-color: silver;
}

a.reveal:hover + div{
    display: inline;
}