table
{
    border-color: #600;
    border-width: 0 0 1px 1px;
    border-style: solid;
    font-family:courier new;
}

table thead tr td{font-weight:bold;}

td
{
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #FFC;
}